/* ---------- Start Button to top ----------- */
.btn_top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  border-radius: 5px;
  border: none !important;
  outline: none !important;
  background-color: #f3a601;
  cursor: pointer;
  padding: 20px 25px;
  opacity: 0.5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: none;
}

.btn_top .arrow {
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.btn_top:hover {
  background-color: #f3a601;
  opacity: 1;
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}

/* ---------- End Button to top ----------- */
/* Start Global */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f4f4f4;
  font-family: "Poppins", sans-serif;
}

.sections-padding {
  padding-top: 5em;
  padding-bottom: 5em;
}

p {
  color: #252525;
}

.title-box {
  position: relative;
  display: table;
  margin: 0 auto;
}

.title-box .fixed-title {
  position: relative;
  font-size: 35px;
  text-transform: capitalize;
  color: #252525;
  z-index: 2;
  margin: 0;
}

.title-box .title-bg {
  width: 100%;
  height: 10px;
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 5px;
  opacity: 0.5;
  background-color: #f3a601;
}

.show-more,
.submit {
  color: #ffffff;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  display: table;
  margin: 1rem auto 0;
  font-weight: 500;
  padding: 10px 40px;
  border: none;
  outline: none !important;
  text-transform: uppercase;
  background-color: #5c5c5c;
}

.show-more:hover,
.submit:hover {
  background-color: #f3a601;
}

@media (max-width: 768px) {
  .btn_top {
    padding: 15px 20px;
  }
}

/* ---------- Start Button to top ----------- */
.btn_top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  border-radius: 5px;
  border: none !important;
  outline: none !important;
  background-color: #f3a601;
  cursor: pointer;
  padding: 20px 25px;
  opacity: 0.5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: none;
}

.btn_top .arrow {
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.btn_top:hover {
  background-color: #f3a601;
  opacity: 1;
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}

/* ---------- End Button to top ----------- */
/* Start Global */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f4f4f4;
  font-family: "Poppins", sans-serif;
}

.sections-padding {
  padding-top: 5em;
  padding-bottom: 5em;
}

p {
  color: #252525;
}

.title-box {
  position: relative;
  display: table;
  margin: 0 auto;
}

.title-box .fixed-title {
  position: relative;
  font-size: 35px;
  text-transform: capitalize;
  color: #252525;
  z-index: 2;
  margin: 0;
}

.title-box .title-bg {
  width: 100%;
  height: 10px;
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 5px;
  opacity: 0.5;
  background-color: #f3a601;
}

.show-more,
.submit {
  color: #ffffff;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  display: table;
  margin: 1rem auto 0;
  font-weight: 500;
  padding: 10px 40px;
  border: none;
  outline: none !important;
  text-transform: uppercase;
  background-color: #5c5c5c;
}

.show-more:hover,
.submit:hover {
  background-color: #f3a601;
}

@media (max-width: 768px) {
  .btn_top {
    padding: 15px 20px;
  }
}

.loading {
  background-color: #f3a601;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bee {
  -webkit-animation: 1s move linear infinite;
          animation: 1s move linear infinite;
}

.bee__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.bee__face {
  position: relative;
  z-index: 1;
  left: -20%;
}

.bee__face__ears {
  height: 40px;
  width: 10px;
  border-radius: 30px;
  background: #393e46;
  margin-bottom: -25px;
  position: relative;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  -webkit-box-shadow: 25px 7px 0px 0px #393e46;
          box-shadow: 25px 7px 0px 0px #393e46;
}

.bee__face__eyes {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: #393e46;
  position: relative;
}

.bee__face__eyes:before, .bee__face__eyes:after {
  position: absolute;
  content: "";
  width: 15px;
  height: 10px;
  border-top-left-radius: 7.5px;
  border-top-right-radius: 7.5px;
  background: white;
  top: 30%;
}

.bee__face__eyes:before {
  left: 20%;
}

.bee__face__eyes:after {
  left: 60%;
}

.bee__body {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: #f8b500;
  -webkit-box-shadow: -20px 1px 0px 0px #393e46;
          box-shadow: -20px 1px 0px 0px #393e46;
}

.bee__body:before, .bee__body:after {
  position: absolute;
  content: "";
}

.bee__body:after {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-left: 40px;
  background: #f8b500;
  -webkit-box-shadow: -20px 1px 0px 0px #393e46;
          box-shadow: -20px 1px 0px 0px #393e46;
}

.wing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  width: 160px;
  margin-bottom: -20px;
  margin-left: -5px;
  position: relative;
  z-index: 1;
}

.wing__left {
  width: 50%;
  background: white;
  opacity: 0.8;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 10%;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-animation: 0.5s fly linear infinite;
          animation: 0.5s fly linear infinite;
}

.wing__right {
  width: 50%;
  background: white;
  opacity: 0.8;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 10%;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-animation: 0.5s flyRight linear infinite;
          animation: 0.5s flyRight linear infinite;
}

@-webkit-keyframes fly {
  50% {
    -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
  }
}

@keyframes fly {
  50% {
    -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
  }
}

@-webkit-keyframes flyRight {
  50% {
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
  }
}

@keyframes flyRight {
  50% {
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
  }
}

@-webkit-keyframes move {
  50% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

@keyframes move {
  50% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

.scrolled {
  -webkit-box-shadow: 0 0 3px #ddd;
          box-shadow: 0 0 3px #ddd;
  opacity: 1 !important;
}

.navbar {
  background-color: #f8b500;
  opacity: 0.8;
}

.navbar .holder .navbar-brand .main-logo {
  width: 50px;
}

.navbar .holder .navbar-brand .highlight {
  font-weight: bold;
}

.navbar .holder .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-weight: 500;
}

.body-overlay-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-image: url("/assets/images/bg.png");
  opacity: 0.1;
}
