@import "./variables.scss";
@import "./placeholders.scss";
@import "./loading_animation.scss";
@import "./navbar.scss";

// Start NavBar //
.scrolled {
    box-shadow: 0 0 3px #ddd;
    opacity: 1 !important;
}

.navbar {
    background-color: $yellow;
    opacity: 0.8;
    .holder {
        .navbar-brand {
            .main-logo {
                width: 50px;
            }
            .highlight {
                font-weight: bold;
            }
        }
        .navbar-collapse {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

.body-overlay-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: url("/assets/images/bg.png");
    opacity: 0.1;
}
