@import "./variables.scss";
@import "./placeholders.scss";

.loading {
  background-color: $primaryColor;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin circle() {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.bee {
  animation: 1s move linear infinite;
}

.bee__bottom {
  display: flex;
  align-items: flex-end;
}

.bee__face {
  position: relative;
  z-index: 1;
  left: -20%;

  &__ears {
    height: 40px;
    width: 10px;
    border-radius: 30px;
    background: $gray;
    margin-bottom: -25px;
    position: relative;
    transform: rotate(-30deg);
    box-shadow: 25px 7px 0px 0px $gray;
  }

  &__eyes {
    @include circle();
    background: $gray;
    position: relative;

    &:before,
    &:after {
      position: absolute;
      content: "";
      width: $eyeSize;
      height: $eyeSize/1.5;
      border-top-left-radius: $eyeSize/2;
      border-top-right-radius: $eyeSize/2;
      background: white;
      top: 30%;
    }

    &:before {
      left: 20%;
    }

    &:after {
      left: 60%;
    }
  }
}

.bee__body {
  @include circle();
  background: $yellow;
  box-shadow: -20px 1px 0px 0px $gray;

  &:before,
  &:after {
    position: absolute;
    content: "";
  }

  &:after {
    @include circle();
    margin-left: 40px;
    background: $yellow;
    box-shadow: -20px 1px 0px 0px $gray;
  }
}

.wing {
  display: flex;
  height: 70px;
  width: 160px;
  margin-bottom: -20px;
  margin-left: -5px;
  position: relative;
  z-index: 1;

  &__left {
    width: 50%;
    background: white;
    opacity: 0.8;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 10%;
    transform-origin: bottom right;
    animation: 0.5s fly linear infinite;
  }

  &__right {
    width: 50%;
    background: white;
    opacity: 0.8;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 10%;
    transform-origin: bottom left;
    animation: 0.5s flyRight linear infinite;
  }
}

@keyframes fly {
  50% {
    transform: rotate(-50deg);
  }
}

@keyframes flyRight {
  50% {
    transform: rotate(50deg);
  }
}

@keyframes move {
  50% {
    transform: translateY(50px);
  }
}
