// $primaryColor: #00D4BD;
$primaryColor: #f3a601;
$firstColor: #252525;
$secondColor: #5c5c5c;
$thirdColor: #f4f4f4;
$fourthColor: #c3c4c7;
$fifthColor: #181818;
$sixthColor: #e3e3e3;
$white: #ffffff;
$yellow: #f8b500;
$gray: #393e46;
$eyeSize: 15px;
$regular-box-shadow: 0 0 10px #eae5ee;
$transition-200ms: 0.2s ease-in-out;
